
* {padding:0;margin:0;border:0;}
html, body {
height:100%;
font-size:100%;
font-family:helvetica,arial,sans-serif;
background:linear-gradient(to bottom, #262626 0%, #535353 50%, #141414 100%);
}
.c-buttons {
position:relative;
float:right;
z-index:999;
top:30px;right:30px;
width:60px;height:60px;
border:2px solid #87847d;
border-radius:32px;
}
.c-buttons button {
position:absolute;
cursor:pointer;
display:inline-block;
width:30px;height:30px;
border-radius:15px;
font-size:100%;
line-height:15px;
color:#dd9828;
padding:4px;
background:#fed546;
border-bottom:3px solid #dd9828;
}
.btn-upp {top:-15px;left:15px;}
.btn-rgt {top:15px;right:-15px;}
.btn-lft {top:15px;left:-15px;}
.btn-dwn {bottom:-15px;left:15px;}

.ab-buttons {
position:relative;
float:right;
clear:right;
z-index:999;
top:30px;right:30px;
width:80px;height:80px;
margin:-20px 40px 0 0;
}
.ab-buttons button {
position:absolute;
cursor:pointer;
display:inline-block;
width:40px;height:40px;
border-radius:20px;
font-size:1.3em;
line-height:15px;
padding:4px;
}
.btn-a {right:0;bottom:0;color:#073366;background:#0948a3;border-bottom:3px solid #073366;}
.btn-b {color:#128c50;background:#15995c;border-bottom:3px solid #0f7b4d;}

.d-pad {
position:absolute;;
float:left;
z-index:999;
top:30px;left:30px;
width:60px;height:60px;
padding:5px;
background:#b8b8b8;
border-radius:35px;
}
.d-pad button {
position:absolute;
cursor:pointer;
display:inline-block;
width:20px;height:20px;
border-radius:3px;
font-size:100%;
line-height:10px;
color:#59595b;
background:#68686a;
}
.dir-upp {top:5px;left:25px;}
.dir-rgt {top:25px;right:5px;}
.dir-lft {top:25px;left:5px;}
.dir-dwn {bottom:5px;left:25px;}

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#tridiv {
perspective:800px;
position:absolute;
overflow:hidden;
width:100%;height:100%;
background:transparent;
font-size:375%;
}
.face {
box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
position:absolute;
transform-style:preserve-3d;
transition:all 5s ease-in-out;
}
.scene {
height:80em;width:78em;/*should be 80, but i've offset it*/
top:50%;left:50%;
margin:-40em 0 0 -40em;
transform:rotateX(-20deg) rotateY(-27deg);
transition: all 2.4s ease-in-out;
}
.shape {
top:50%;left:50%;
width:0;height:0;
transform-origin:50%;
}
.face, .face-wrapper {
overflow:hidden;
transform-origin:0 0;
backface-visibility:hidden;
/* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
background-size:100% 100%!important;
background-position:center;
}
.face-wrapper .face {
left:100%;
width:100%;height:100%
}
.photon-shader {
position:absolute;
left:0;
top:0;
width:100%;
height:100%
}
.ft .photon-shader {
background-size:100% 100%;
}

.side {
left:50%;
}
.cr, .cr .side {
height:100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
width:100%;
height:100%;
}
[class*="cuboid"] .bk {
left:100%;
}
[class*="cuboid"] .rt {
transform:rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
transform:rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
transform:rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
transform:rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
left:100%;
}
[class*="cuboid"] .bm {
top:100%;
}
/* .cub-1 styles */
.cub-1 {
transform:translate3d(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
opacity:1;
width:3.8em;
height:5em;
margin:-2.5em 0 0 -1.9em;
transition:all 1.3s ease-in-out;
}
.cub-1 .ft {
transform:translateZ(0.45em);
}
.cub-1 .bk {
transform:translateZ(-0.45em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
width:0.9em;
height:5em;
}
.cub-1 .tp, .cub-1 .bm {
width:3.8em;
height:0.9em;
}
.cub-1 .face {
background-color:#FFFFFF;
}

/*001*/
.nus-001 .cub-1 {
margin:-4.5em 0 0 -7.9em;
transform:translate3d(0em, 2em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-001 .face {background:#e8eaf2;}
/*.nus-001 .photon-shader {background:#e8eaf2;}*/
.nus-001 .lt .photon-shader {background-color:#ccc;}
.nus-001 .ft .photon-shader {background-image:url(../img/nus-001.jpg);}

/*002*/
.nus-002 .cub-1 {
margin:-3.5em 0 0 -4.9em;
transform:translate3d(0em, 1em, 1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-002 .photon-shader {background-color:#232725;}
.nus-002 .lt .photon-shader {background-color:#010707;}
.nus-002 .ft .photon-shader {background-image:url(../img/nus-002.jpg);}

/*003*/
.nus-003 .cub-1 {
margin:-2.5em 0 0 -1.9em;
transform:translate3d(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-003 .photon-shader {background-color:#e5363b;}
.nus-003 .lt .photon-shader {background-color:#160706;}
.nus-003 .ft .photon-shader {background-image:url(../img/nus-003.jpg);}

/*004*/
.nus-004 .cub-1 {
margin:-1.5em 0 0 0.9em;
-webkit-transform:translate3d(0em, -1em, -1em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-004 .photon-shader {background-color:#da3a2b;}
.nus-004 .lt .photon-shader {background-color:#772a2a;}
.nus-004 .ft .photon-shader {background-image:url(../img/nus-004.jpg);}

/*005*/
.nus-005 .cub-1 {
margin:-0.5em 0 0 3.9em;
transform:translate3d(0em, -2em, -2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-005 .photon-shader {background-color:#232725;}
.nus-005 .lt .photon-shader {background-color:#010707;}
.nus-005 .ft .photon-shader {background-image:url(../img/nus-005.jpg);}




/*006*/
.nus-006 .cub-1 {
margin:-4.5em 0 0 -7.9em;
transform:translate3d(0em, 2em, -3em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-006 .photon-shader {background-color:#8ba1b7;}
.nus-006 .lt .photon-shader {background-color:#304653;}
.nus-006 .ft .photon-shader {background-image:url(../img/nus-006.jpg);}

/*007*/
.nus-007 .cub-1 {
margin:-3.5em 0 0 -4.9em;
transform:translate3d(0em, 1em, -4em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-007 .photon-shader {background-color:#107ec9;}
.nus-007 .lt .photon-shader {background-color:#005fb5;}
.nus-007 .ft .photon-shader {background-image:url(../img/nus-007.jpg);}

/*008*/
.nus-008 .cub-1 {
margin:-2.5em 0 0 -1.9em;
transform:translate3d(0em, 0em, -5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-008 .photon-shader {background-color:#107ec9;}
.nus-008 .lt .photon-shader {background-color:#005fb5;}
.nus-008 .ft .photon-shader {background-image:url(../img/nus-008.jpg);}

/*009*/
.nus-009 .cub-1 {
margin:-1.5em 0 0 0.9em;
transform:translate3d(0em, -1em, -6em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-009 .photon-shader {background-color:#ccc;}
.nus-009 .lt .photon-shader {background-color:#888;}
.nus-009 .ft .photon-shader {background-image:url(../img/nus-009.jpg);}

/*010*/
.nus-010 .cub-1 {
margin:-0.5em 0 0 3.9em;
transform:translate3d(0em, -2em, -7em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-010 .photon-shader {background-color:#04378f;}
.nus-010 .lt .photon-shader {background-color:#032053;}
.nus-010 .ft .photon-shader {background-image:url(../img/nus-010.jpg);}




/*011*/
.nus-011 .cub-1 {
margin:-4.5em 0 0 -7.9em;
transform:translate3d(0em, 2em, -8em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-011 .photon-shader {background-color:#232725;}
.nus-011 .lt .photon-shader {background-color:#010707;}
.nus-011 .ft .photon-shader {background-image:url(../img/nus-011.jpg);}

/*012*/
.nus-012 .cub-1 {
margin:-3.5em 0 0 -4.9em;
transform:translate3d(0em, 1em, -9em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-012 .photon-shader {background-color:#64d6f8;}
.nus-012 .lt .photon-shader {background-color:#53b3d0;}
.nus-012 .ft .photon-shader {background-image:url(../img/nus-012.jpg);}

/*013*/
.nus-013 .cub-1 {
margin:-2.5em 0 0 -1.9em;
transform:translate3d(0em, 0em, -10em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-013 .photon-shader {background-color:#232725;}
.nus-013 .lt .photon-shader {background-color:#010707;}
.nus-013 .ft .photon-shader {background-image:url(../img/nus-013.jpg);}

/*014*/
.nus-014 .cub-1 {
margin:-1.5em 0 0 0.9em;
transform:translate3d(0em, -1em, -11em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
/*.nus-014 .photon-shader {background:#e8eaf2;}*/
.nus-014 .lt .photon-shader {background-color:#ccc;}
.nus-014 .ft .photon-shader {background-image:url(../img/nus-014.jpg);}

/*015*/
.nus-015 .cub-1 {
margin:-0.5em 0 0 3.9em;
transform:translate3d(0em, -2em, -12em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.nus-015 .photon-shader {background-color:#f1faf7;}
.nus-015 .lt .photon-shader {background-color:#e0e2e1;}
.nus-015 .ft .photon-shader {background-image:url(../img/nus-015.jpg);}


/*javascript*/
#tridiv .crush {margin-left:-1em;}
